
python-service/\.idea/

*.log

*.swp

python-service/sql\.py

web/dist/

web/node_modules/

web/\.idea/

docker-shell/docker-darknet/darknet53\.conv\.74

python-service/visdom\.pid

docker-shell/darknet-dockerfile/darknet53\.conv\.74

docker-shell/darknet-dockerfile/chart\.png

python-service/wxpy\.pkl

.idea/

python-service/server.log.2020-12-29

python-service/ip

*.txt

python-service/log/

web/docker/dist/
