
python-service/\.idea/

*.log

*.swp

python-service/sql\.py

web/dist/

web/node_modules/

web/\.idea/

docker-shell/docker-darknet/darknet53\.conv\.74

python-service/visdom\.pid

docker-shell/darknet-dockerfile/darknet53\.conv\.74
